@using GymTracker.BlazorClient.Features.History.WorkoutHistory.Store
@inherits FluxorComponent
@inject IState<WorkoutHistoryState> State
@inject IDispatcher Dispatcher

<div class="d-flex flex-column justify-space-between fullHeight fullWidth">
    <table class="mt-3 mb-auto fullWidth">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Set</th>
                @foreach (var date in State.Value.FilteredAndPagedDates)
                {
                    <th>@date.ToString(@"dd/MM/yy")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in State.Value.FilteredExercises)
            {
                @foreach (var set in exercise.SetNames.Select((name, index) => (name, index)))
                {
                    <tr class="exerciseRow @(set.index == 0 ? "exerciseRowStart": "" )">
                        @if(set.index == 0)
                        {
                            <td class="boldCell" rowspan="@(exercise.SetNames.Length +1)">@exercise.ExerciseName</td>
                        }
                    
                        <td>@set.name</td>

                        @foreach (var date in State.Value.FilteredAndPagedDates)
                        {
                            var setRecord = exercise.Records
                                                    .FirstOrDefault(x => x.Date == date)?
                                                    .Sets.SingleOrDefault(x => x.SetName == set.name);

                            <td>@setRecord?.Measure</td>
                        }
                    </tr>
                }
                <tr class="boldCell exerciseRowEnd">
                    <td>Total</td>
                    @foreach (var date in State.Value.FilteredAndPagedDates)
                    {
                        var dateRecord = exercise.Records.FirstOrDefault(x => x.Date == date);

                        <td>@dateRecord?.TotalVolume</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                @foreach (var date in State.Value.FilteredAndPagedDates)
                {
                    <th>@State.Value.GetTotalVolumeForDate(date)</th>
                }
            </tr>
        </tfoot>
    </table>

    <div class="d-flex flex-column align-center fullWidth mt-2">
        <MudPagination Color="Color.Primary" 
                       Count="@(State.Value.PageCount)" 
                       Selected="@State.Value.SelectedPage"
                       SelectedChanged="HandleSetPage" />
    </div>
</div>
<style>
    table {
        border: 1px solid;
        padding: 4px;
    }
    th, td {
        border: 0.6px solid;
        padding: 4px;
    }
    table{
        border-collapse: collapse;
        width: 100%
    }
    thead{
        font-weight: bold;
    }

    .boldCell{
        font-weight: bold;
    }

    tr.exerciseRowStart {
        border-top: 2px solid;
    }

    tr.exerciseRowEnd {
        border-bottom: 2px solid;
    }

</style>

@code {
    void HandleSelectWorkoutPlan(Guid id) => Dispatcher.Dispatch(new SetWorkoutPlanIdAction(id));
    void HandleSetPage(int page) => Dispatcher.Dispatch(new SetPageAction(page));
}