@using GymTracker.BlazorClient.Features.History.WorkoutHistory.Store
@inherits FluxorComponent
@inject IState<WorkoutHistoryState> State

<div>
    <div>
        <MudSelect Class=""
                   Label="Workout Plan"
                   Variant="Variant.Outlined"
                   AnchorOrigin="Origin.BottomCenter"
                   Value="State.Value.SelectedWorkoutPlanId">

            @foreach (var item in State.Value.WorkoutPlans)
            {
                <MudSelectItem Value="item.Id">@item.Name</MudSelectItem>
            }
        </MudSelect>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Exercise</th>
            <th>Set</th>
            @foreach(var date in State.Value.Dates)
            {
                <th>@date.ToString(@"dd/MM/yy")</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var exercise in State.Value.Exercises)
        {
            @foreach (var set in exercise.SetNames.Select((name, index) => (name, index)))
            {
                <tr>
                    @if(set.index == 0)
                    {
                        <td class="boldCell" rowspan="@(exercise.SetNames.Length +1)">@exercise.ExerciseName</td>
                    }
                    
                    <td>@set.name</td>
                    
                    @foreach (var date in State.Value.Dates)
                    {
                        var setRecord = exercise.Records
                                                .FirstOrDefault(x => x.Date == date)?
                                                .Sets.SingleOrDefault(x => x.SetName == set.name);

                        <td>@setRecord?.Measure</td>
                    }
                </tr>
            }
            <tr class="boldCell">
                <td>Total</td>
                @foreach (var date in State.Value.Dates)
                {
                    var dateRecord = exercise.Records.FirstOrDefault(x => x.Date == date);

                    <td>@dateRecord?.TotalVolume</td>
                }
            </tr>
        }
    </tbody>
</table>
<style>
    table, th, td {
        border: 1px solid;
        padding: 4px;
    }
    table{
        border-collapse: collapse;
        width: 100%
    }
    thead{
        font-weight: bold;
    }

    .boldCell{
        font-weight: bold;
    }
</style>


@code {

}