@using GymTracker.BlazorClient.Features.Workout.Perform.Circuit.Components
@using GymTracker.BlazorClient.Features.Workout.Perform.Circuit.Store
@using GymTracker.BlazorClient.Features.Workout.Perform.Components.SideBar.Timers.CountdownTimer.Store
@using System.Linq
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<CircuitPerformState> CircuitState
@inject IState<CountdownTimerState> CountdownState

<div class="fullHeight d-flex flex-column">
    <ProgressHeader PlanName="@CircuitState.Value.PlanName"
                    CurrentRound="@CircuitState.Value.CurrentRound"
                    TotalRounds="@CircuitState.Value.TotalRounds"
                    CurrentExerciseIndex="@CircuitState.Value.CurrentExerciseIndex"
                    TotalExercises="@CircuitState.Value.Exercises.Length" />

    <div class="flex-grow-1 overflow-auto">
        @if (CircuitState.Value.Phase == CircuitPhase.Resting)
        {
            <RestScreen CompletedRound="@CircuitState.Value.CurrentRound"
                        TotalRounds="@CircuitState.Value.TotalRounds"
                        NextExerciseName="@(CircuitState.Value.Exercises.Length > 0 ? CircuitState.Value.Exercises[0].ExerciseName : null)"
                        CountdownState="@CountdownState.Value"
                        OnSkipRest="HandleSkipRest"
                        OnAddTime="HandleAddTime" />
        }
        else if (CircuitState.Value.CurrentExercise is not null)
        {
            <ExerciseScreen Exercise="@CircuitState.Value.CurrentExercise"
                            CurrentRound="@CircuitState.Value.CurrentRound"
                            TotalRounds="@CircuitState.Value.TotalRounds"
                            CurrentExerciseIndex="@CircuitState.Value.CurrentExerciseIndex"
                            TotalExercises="@CircuitState.Value.Exercises.Length"
                            UpcomingExercises="@UpcomingExercises" />
        }
    </div>
</div>

@code {
    IEnumerable<CircuitExerciseItem> UpcomingExercises =>
        CircuitState.Value.Exercises.Skip(CircuitState.Value.CurrentExerciseIndex + 1);

    void HandleSkipRest() => Dispatcher.Dispatch(new CircuitSkipRestAction());

    void HandleAddTime()
    {
        var extra = CountdownState.Value.Duration + TimeSpan.FromSeconds(30);
        Dispatcher.Dispatch(new CountdownTimerStartWithDurationAction(extra));
    }
}
